{% extends "base_template.html" %}

{% block base_content %}

<!-- ******HEADER****** -->
<header class="header">
    <div class="container">
        <br>
        <br>
        <div class="profile-content text-center">
            <h1 class="name">Companies</h1>
        </div><!--//profile-->
    </div><!--//container-->
</header><!--//header-->
<div class="container sections-wrapper">
        <div class="row">
            <div class="primary col-md-8 col-sm-12 col-xs-12">

                <section class="about section">
                    <div class="section-inner">
                        <hr class="divider" />
                        {% for company in companys %}
                            <div class="item row">
                                <a class="col-md-3 col-sm-3 col-xs-12" href="{% url 'view_company' company.slug %}">
                                    <img class="img-responsive project-image fifty-image img-circle" src="{{ company.image }}" alt="{{ company.name }}" />
                                </a>
                                <div class="desc col-md-7 col-sm-7 col-xs-12">
                                    <a href="{% url 'view_company' company.slug %}">
                                        <h3 class="title">{{ company.name }}</h3>
                                    </a>
                                    <p>{{company.one_liner}}</p>
                                </div><!--//desc-->
                                <div class="desc col-md-2 col-sm-2 col-xs-12">
                                <a class="btn btn-cta-primary pull-right" href="" target="_blank"><i class="fa fa-paper-plane"></i>soon Follow Me</a>
                                </div>
                            </div><!--//item-->
                            <hr>
                        {% endfor %}
                    </div>
                </section>
            </div>
            <div class="primary col-md-4 col-sm-12 col-xs-12">
                <section class="about section">
                    <div class="section-inner text-center">
                        <p><b>Popular Companies</b></p>
                        <p></p>
                    </div>
                </section>
            </div>
        </div>
</div>

<!-- dashboard content -->
<!--<div class="container section-wrapper" id="main">-->
    <!--{% block content %}-->
    <!--{% endblock %}-->
<!--</div>-->

{% endblock %}